.blog .active>a{
    color:#77e576;
    border: 0px solid;
    background-color:white;
    border-color: #dddddd;
    border-bottom: #77e576 1px solid;
    z-index: 2;
}
.blog a{
    border: 0px solid;
}