<div class="container">
    <!-- 面包屑导航 -->
    <div class="post-position row" style="margin-top:20px;">
        <ul class="breadcrumb">
            <li><a routerLink="/timeWait/forum">论坛</a></li>
            <li class="active">{{forumTypeDictonary[postData.postType]}}</li>
        </ul>
    </div>
    <!-- 面包屑导航 -->
    <!-- 详情开始 -->
    <div class="post-detail row">
        <!-- 帖子标题 -->
        <h2 class="row text-center">{{postData.postTitle}}</h2>
        <!-- 帖子标题 -->
        <!-- 作者信息 -->
        <div class="author-info clearfix">
            <div class="col-sm-1 col-xs-2" style="padding: 5px;">
                <img alt="用户头像" [src]="postAuthorData.avatar ? postAuthorData.avatar : avatarCDN"  (mouseover)="showDetailInfo()" style="width: 40px;float:right;">
                <!-- 作者信息悬浮框 -->
                <div class="intro-detail-warp intro-detail-warp-author" (mouseleave)="hideDetailInfo()">
                    <div class="intro-detail intro-detail-author">
                        <div class="detail-background" 
                                [style.background-image]="
                                postData.detail.length > 0 ? (postData.detail[0].blogBackground ? 'url('+postData.detail[0].blogBackground+')' : 'url('+avatarCDN+')') : 'url('+avatarCDN+')'"
                        >
                        </div>
                        <div class="detail-content">
                            <h4>{{postData.postAuthor}}</h4>
                        </div>
                        <div class="detail-operate">
                            <button class="btn btn-sm btn-default" (click)="goToBlog(postData.postAuthorID)">踩踩他的空间</button>
                            <button class="btn btn-sm btn-default">他的印象</button>
                            <button class="btn btn-sm btn-default">聊天</button>
                        </div>
                    </div>
                </div>
                <!-- 作者信息悬浮框 -->
            </div>
            <div class="col-sm-11 col-xs-10">
                <p class="post-author">{{postData.postAuthor}}</p>
                <p class="post-date">{{postData.postDate}}</p>
            </div>
        </div>
        <!-- 作者信息 -->
        <!-- 正文 -->
        <article class="post-value col-sm-12" [innerHTML]="postData.postValue | keepHtml"></article>
        <!-- 正文 -->
        <!-- 点赞分享 -->
        <div class="like-and-share col-sm-12 text-center">
            <button class="like-btn btn btn-lg btn-default" [title]="likeText" (click)="newLike()">
                <p class="like-icon" style="margin:0px;position: relative;">&nbsp;&nbsp;👍&nbsp;&nbsp;</p>
                <p style="margin:0px">{{postData.postLike}}</p>
            </button>
        </div>
        <!-- 点赞分享 -->
        <hr>
    </div>
    <!-- 新建回复 -->
    <div class="post-new-comment row">
        <div class="row">
            <div class="col-sm-1 col-xs-2" style="padding: 5px;">
                <img alt="用户头像" [src]="currentLoggedInUserBaseInfo.avatar ? currentLoggedInUserBaseInfo.avatar : avatarCDN" style="width: 40px;float:right">
            </div>
            <div class="col-sm-11 col-xs-10">
                <textarea class="form-control" placeholder="发表回复" rows="3" [(ngModel)]="commentValue"></textarea>
            </div>
            <div class="col-xs-12" style="padding:10px 0px 0px 0px;">
                <div *ngIf="!currentLoggedInUser.userID" class="col-sm-4 col-xs-6 col-xs-offset-2 col-sm-offset-1">
                    <input class="form-control" type="text" placeholder="匿名回复" [(ngModel)]="postData.anonymous">
                </div>
                <div class="col-sm-5 text-right pull-right">
                    <button class="btn btn-success" (click)="postCommentValidate()">提交</button>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 style="margin-bottom:0px">评论  {{postCommentData.length}}条</h4>
            </div>
        </div>
        <hr>
    </div>
    <!-- 新建回复 -->
    <!-- 评论列表 -->
    <div class="post-comment row">
        <!-- 一级评论 -->
        <div class="reply-box" *ngFor="let item of postCommentData;let i = index">
            <!-- 回复人信息 -->
            <div class="user-info">
                <div class="col-sm-1 col-xs-2" style="padding: 5px;">
                    <img alt="用户头像" 
                        [src]="item.detail.length > 0 ? ( item.detail[0].avatar ? item.detail[0].avatar : avatarCDN) : avatarCDN" 
                        style="width: 40px;float:right" (mouseover)="showDetailInfo(i)" >
                    <div class="intro-detail-warp intro-detail-warp{{i}}" (mouseleave)="hideDetailInfo(i)">
                        <div class="intro-detail intro-detail{{i}}">
                            <div class="detail-background" 
                                    [style.background-image]="
                                    item.detail.length > 0 ? (item.detail[0].blogBackground ? 'url('+item.detail[0].blogBackground+')' : 'url('+avatarCDN+')') : 'url('+avatarCDN+')'"
                            >
                            </div>
                            <div class="detail-content">
                                <h4>{{item.commentUserName}}</h4>
                            </div>
                            <div class="detail-operate">
                                <button class="btn btn-sm btn-default" (click)="goToBlog(item.commentUserID)">踩踩他的空间</button>
                                <button class="btn btn-sm btn-default">他的印象</button>
                                <button class="btn btn-sm btn-default">聊天</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-11 col-xs-10">
                    <p style="font-size:16px;">{{item.floorNum}}楼&nbsp;&nbsp;&nbsp;{{item.commentUserName}}</p>
                    <p style="color:#8492A6">{{item.commentDate}}</p>
                </div>
            </div>
            <!-- 回复人信息 -->
            <!-- 回复内容 -->
            <div style="padding: 25px;" class="col-xs-12" [innerHTML]="item.commentValue"></div>
            <!-- 回复内容 -->
            <!-- 赞分享 -->
            <div class="like-and-comment col-xs-12" style="padding:20px;color: #969696;">
                <div style="padding-right:0px;cursor:pointer;float:left">
                    <span class="glyphicon glyphicon-thumbs-up"></span> 0个人赞
                </div>
                <div (click)="toggleCommentBox(i)" style="cursor:pointer;padding-left:0px;margin-left:10px;float:left">
                    <span class="glyphicon glyphicon-comment"></span><font>评论</font>
                </div>
            </div>
            <!-- 赞分享 -->
            <!-- 二级评论列表 -->
            <div class="comment-list col-xs-12" style="margin: 0px 0px 20px 20px;color: #969696;border-left: 2px solid #ccc;">
                <!-- 二级评论 -->
                <div class="clearfix" style="margin: 0px 0px 0px 20px;border-bottom: 1px solid #eeeeee;">
                    <p>august 回复 august：好威呀</p>
                    <div style="float:  left;">
                        <p>2018-01-21 21:51:11</p>
                    </div>
                    <div style="cursor:pointer;padding-left:0px;margin-left:10px;float:left;">
                        <span class="glyphicon glyphicon-comment"></span><font>评论</font>
                    </div>
                </div>
                <!-- 二级评论 -->
            </div>
            <!-- 二级评论列表 -->
            <!-- 一级评论回复 -->
            <div id="{{'commont-box' + i}}" class="commont-box" style="display:none">
                <div class="col-sm-12">
                    <textarea class="form-control" placeholder="发表回复" rows="3"></textarea>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6 text-right" style="padding: 10px 15px;">
                        <button class="btn btn-success">提交</button>
                    </div>
                </div>
            </div>
            <!-- 一级评论回复 -->
            <hr>
        </div>
        <!-- 一级评论 -->
        <!--底部分页按钮-->
        <app-pagination
            [currentPageNum]="pageInfo.currentPageNum"
            [pagesShow]="pageInfo.pagesShow"
            [totalPages]="pageInfo.totalPages"
            (pageChanged)="pageNavigation($event)">
        </app-pagination>
        <!--底部分页按钮-->
    </div>
    <!-- 评论列表 -->
</div>