<div id="mainbody" class="mainbody col-lg-12 col-center-block"  [@simAnim]="'zoomIn'">
    <!--蓝色地球内容开始-->
    <div class="home">
        <div class="home-bg container">
            <div class="cont-area">
                <h2 style="text-indent: 0.2em;">时耽</h2><br /><br />
                <button type="button" class="btn btn-looklook btn-lg" routerLink="/timeWait/square">随便逛逛</button>
                <button tyoe="button" class="btn btn-register btn-lg" routerLink="/timeWait/register">注册账号</button>
            </div>
        </div>
    </div>
    <!--蓝色地球内容结束-->
    <!--第一个区域开始-->
    <div class="features-area cutHand">
        <div class="container">
            <h1 class="area-h1">a simple project</h1>
            <h4 class="area-h4">a simple simple simple simple project</h4>
            <!-- <img class="leftHand" src="../../../assets/img/homePage/leftHand.png" />
            <img class="rightHand" src="../../../assets/img/homePage/rightHand.png" /> -->
        </div>
    </div>
    <!--第一个区域结束-->
    <!--第二个区域开始-->
    <div class="features-area team">
        <div class="container">
            <h1 class="area-h1">换个地方自言自语</h1>
            <h4 class="area-h4">终于</h4>
            <div class="col-md-6 col-md-offset-1 col-sm-12">
                <!-- <img class="leftHand" src="../../../assets/img/homePage/yangwj.jpg" />
                <img class="rightHand" src="../../../assets/img/homePage/guoht.jpg" /> -->
            </div>
        </div>
    </div>
    <!--第二个区域结束-->
    <!--第三个区域开始-->
    <div class="features-area Gfat" style="height: auto;">
        <div class="container">
            <h1 class="area-h1">谢谢你看到这个网站</h1>
            <h4 class="area-h4">谢谢谢谢</h4>
            <!-- <div class="col-md-12">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="GfatSay">
                        欢迎你
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!--第三个区域结束-->
    <div style="background:#2c3e50;color:white">
        <div class="container">
            <div class="row text-center" style="padding: 50px;">
                <span class="glyphicon glyphicon-piggy-bank" title="摸什么摸，没见过猪啊" routerLink="/timeWait/admin"></span>
                <h4>© 2017 时耽. All rights reserved.</h4>
                <h5 style="font-size:10px;">友情链接<font style=" padding: 0px 25px; ">jsjyy.szped.com</font><font>jsjyy.szped.com:8080/11/</font></h5>
                <h5 style="font-size:10px;">感谢七牛云提供的图片存储服务</h5>
            </div>
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row"></div>
        </div>
    </div>
</div>